# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
App.config.user
*.config.user

# Build results
[Bb]in/
[Oo]bj/
bld/
[Oo]ut/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
.vs/

# Logs and test results
[Ll]og/
[Ll]ogs/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Package directories
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Misc
*.log
*.tmp
*.cache
*.pdb
*.dbmdl
*.svclog
*.psess
*.vsp?
FakesAssemblies/

# Local database
DataAccess/teklif-hazirlayici.ldb