<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Teklif_Hazırlayıcı.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
        <connectionStrings>
                <!-- SQL Server bağlantısı -->
		<add name="SqlConnectionString"
	 connectionString="Server=192.168.1.200;Database=TeklifHazirlayiciDB;User Id=sa;Password=sapass;"
	 providerName="System.Data.SqlClient" />
        </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<userSettings>
		<Teklif_Hazırlayıcı.Properties.Settings>
			<setting name="kullanici_id" serializeAs="String">
				<value>0</value>
			</setting>
		</Teklif_Hazırlayıcı.Properties.Settings>
	</userSettings>
</configuration>