<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Teklif_Hazırlayıcı.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Teklif_Hazırlayıcı.Properties.Settings.teklif_hazirlayiciConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DataAccess\teklif-hazirlayici.mdb"
            providerName="System.Data.OleDb" />
        <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DataAccess\teklif-hazirlayici.mdb"
            providerName="System.Data.OleDb" />
		<!-- SQL Server bağlantısı -->
		<add name="SqlConnectionString"
			 connectionString="Server=.;Database=TeklifHazirlayiciDB;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Teklif_Hazırlayıcı.Properties.Settings>
            <setting name="kullanici_id" serializeAs="String">
                <value>0</value>
            </setting>
        </Teklif_Hazırlayıcı.Properties.Settings>
    </userSettings>
</configuration>